---
import Layout from "../../layouts/Layout.astro";
import CandidateAvatar from "../../components/candidate/CandidateAvatar.vue";
import CandidateDepartmentAndGroupDetails from "../../components/candidate/CandidateDepartmentAndGroupDetails.vue";
import CandidateSocialMediaList from "../../components/candidate/CandidateSocialMediaList.vue";
import TableOfContents from "../../components/candidate/TableOfContents.astro";
import StandPointList from "../../components/candidate/StandPointList.vue";
import SocialMediaButtons from "../../components/socialMedia/SocialMediaButtons.astro";
import { getCandidates } from "../../data/get_candidates";
import { isProd } from "../../utils/flag";

export async function getStaticPaths() {
	if (isProd()) return [];

	const candidates = await getCandidates();

	return candidates.map((candidate) => ({
		params: { id: candidate.id },
		props: { candidate },
	}));
}

const { candidate } = Astro.props;

const fullname = candidate.firstName + " " + candidate.lastName;

const description =
	candidate.application.province +
	" " +
	"(" +
	candidate.application.district +
	")" +
	" - " +
	candidate.application.group;

const pathname = "candidates/" + candidate.id;

const contents = [
	{ title: "ข้อมูลทั่วไป", id: "profile" },
	{ title: "จุดยืน", id: "standpoint" },
	{ title: "วิสัยทัศน์", id: "vision" },
];
---

<Layout title={fullname} desc={description}>
	<section class="max-w-screen-xl mx-auto px-5 mt-16">
		{
			candidate.videoUrl && (
				<div class="aspect-video py-5">
					<iframe
						class="rounded-lg"
						src={candidate.videoUrl}
						height="100%"
						width="100%"
					/>
				</div>
			)
		}
		<div class="max-w-[650px] mx-auto pt-8">
			<div class="flex space-x-2 mb-5">
				<div class="basis-3/4 text-left">
					<CandidateAvatar
						section="details"
						name={fullname}
						alias={candidate.aliasName}
						avatar={candidate.avatarUrl}
					/>
				</div>
				<div class="basis-1/4">
					<CandidateDepartmentAndGroupDetails
						application={candidate.application}
					/>
				</div>
			</div>

			<TableOfContents contents={contents} />
		</div>
	</section>
	<section class="bg-info mx-auto p-5">
		<div class="max-w-[650px] mx-auto">
			<div class="bg-white" id="profile">
				<div class="bg-base-200 p-3 rounded-t-md">
					<p class="heading-03">ข้อมูลทั่วไป</p>
				</div>
				<div class="bg-base-100 p-3 rounded-b-md">
					<table class="space-y-2">
						<tr>
							<td class="body-03 mt-[2px]">อายุ</td>
							<td class="body-01 font-bold flex">{candidate.age} ปี</td>
						</tr>
						<tr>
							<td class="body-03 mt-[2px] whitespace-nowrap flex justify-start">
								การศึกษา
							</td>
							<td class="body-01 font-bold break-words whitespace-pre-wrap"
								>{candidate.education}</td
							>
						</tr>
						<tr>
							<td class="body-03 mt-[2px] flex justify-start">อาชีพ</td>
							<td class="body-01 font-bold break-words whitespace-pre-wrap"
								>{candidate.occupation}</td
							>
						</tr>
					</table>
					<!-- <div class="flex space-x-3 px-3 pt-2">
						<div class="basis-1/4 sm:basis-[15%]">
							<p class="body-03">อายุ</p>
						</div>
						<div class="basis-3/4 sm:basis-[85%]">
							<p class="body-03 font-bold">{candidate.age} ปี</p>
						</div>
					</div>
					<div class="flex space-x-3 px-3">
						<div class="basis-1/4 sm:basis-[15%]">
							<p class="body-03">การศึกษา</p>
						</div>
						<div class="basis-3/4 sm:basis-[85%]">
							<p class="body-03 font-bold break-words whitespace-pre-wrap">
								{candidate.education}
							</p>
						</div>
					</div>
					<div class="flex space-x-3 px-3">
						<div class="basis-1/4 sm:basis-[15%]">
							<p class="body-03">อาชีพ</p>
						</div>
						<div class="basis-3/4 sm:basis-[85%]">
							<p class="body-03 font-bold break-words whitespace-pre-wrap">
								{candidate.occupation}
							</p>
						</div>
					</div> -->
				</div>
			</div>

			{
				candidate.contacts && (
					<div class="bg-white pt-3">
						<div class="bg-base-200 p-3 rounded-t-md">
							<p class="heading-03">ช่องทางติดต่อ</p>
						</div>
						<div class="bg-base-100 p-3 rounded-b-md">
							<CandidateSocialMediaList contacts={candidate.contacts} />
						</div>
					</div>
				)
			}

			<div class="bg-white pt-3" id="standpoint">
				<div class="bg-base-200 p-3 rounded-t-md">
					<p class="body-03">จุดยืน</p>
				</div>
				<div class="bg-base-100 p-3 rounded-b-md">
					<StandPointList
						standpoints={candidate.politicalStances}
						client:load
					/>
				</div>
			</div>

			<div class="bg-white pt-3" id="vision">
				<div class="bg-base-200 p-3 rounded-t-md">
					<p class="body-03">วิสัยทัศน์</p>
				</div>
				<div class="bg-base-100 p-3 rounded-b-md">
					<p class="body-01 font-bold">
						แนวทางการพิจารณาเห็นชอบผู้ดำรงตำแหน่งในองค์กรอิสระ
					</p>
					<p class="body-01">
						{candidate.visionQuestionaires[0].answer}
					</p>

					<hr class="border-base-300 my-5" />

					<p class="body-01 font-bold">
						เหตุผลความตั้งใจในการลงสมัคร สว. ครั้งนี้
					</p>
					<p class="body-01">
						{candidate.visionQuestionaires[1].answer}
					</p>
				</div>
			</div>

			<div class="py-10 text-center">
				<p class="body-01 pb-3">แชร์ผู้สมัครคนนี้</p>
				<div class="flex justify-center">
					<SocialMediaButtons color="#000" pathname={pathname} />
				</div>
			</div>
		</div>
	</section>
</Layout>

<style scoped>
	td {
		@apply pl-2 pt-2;
	}
</style>
