---
import Layout from "../layouts/Layout.astro";
import CandidateList from "../components/candidate/CandidateList.vue";
import { getCandidateOverview } from "../data/get_candidates_overview";
import { getLocationMap, getProvinceList } from "../data/senate_option";
import { ApplicationGroup } from "../data/application_group";

const candidates = await getCandidateOverview();
const totalCandidate = candidates.length;
const passedCandidate = candidates.filter(
	({ isEliminated }) => !isEliminated,
).length;
const applicationGroup = Object.values(ApplicationGroup);
const provinces = getProvinceList();
const districts = getLocationMap();
---

<Layout title="ค้นหาผู้สมัคร สว.">
	<CandidateList
		filterTitle="กรองหาผู้สมัคร"
		canSearchByName
		{candidates}
		{applicationGroup}
		{provinces}
		{districts}
		client:load
	>
		<div slot="header" class="px-4 space-y-3">
			<h1 class="heading-responsive-01 text-base-100 pb-3">
				ค้นหาผู้สมัคร สว.
			</h1>
			<p class="body-01 text-base-100">
				ทั้งหมด {totalCandidate.toLocaleString()} คน ในฐานข้อมูล
			</p>
			<p class="body-01 text-secondary">
				เข้ารอบ {passedCandidate.toLocaleString()} คน<br />
				<span class="body-03"
					>ที่มา:
					<a
						class="underline"
						target="_blank"
						rel="noopener noreferrer"
						href="https://github.com/PanJ/senate67"
						>รายชื่อผู้สมัครทางการของ กกต.</a
					></span
				>
			</p>
		</div>
	</CandidateList>
</Layout>
