---
import "../styles/fonts.css";
import "../styles/typography.css";
import "../styles/global.css";
import NavBar from "../components/NavBar.astro";
import { PRODUCTION_URL } from "../constants";

interface Props {
	title: string;
}

const { title } = Astro.props;
const og = new URL("/og.png", PRODUCTION_URL).href;
const siteName = "สว. 67 สมัครเพื่อโหวต";
const description = "ประชาชนก็เลือกได้ ถ้าเข้าไปสมัคร!";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>{title}</title>
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content={og} />
		<meta property="og:url" content={PRODUCTION_URL} />
		<meta property="og:type" content="website" />
		<meta property="og:site_name" content={siteName} />

		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={description} />
		<meta name="twitter:image" content={og} />
		<meta name="twitter:image:alt" content={title} />
		<meta name="twitter:url" content={PRODUCTION_URL} />
		<meta name="theme-color" content="#101C3D" />

		{
			import.meta.env.PUBLIC_BUILD_TARGET === "production" && (
				<script
					is:inline
					type="text/partytown"
					defer
					data-domain="senate67.com"
					src="https://analytics.punchup.world/js/script.js"
				/>
			)
		}
	</head>
	<body class="body-01">
		<NavBar />
		<slot />
	</body>
</html>
